<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="vh-100" style="background-color: #9A616D;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                  </div>
                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
      
                      <form action="/register" method="POST">      
      
                        <div class="form-outline mb-6">
                          <input type="text" name="username" id="form2Example17" class="form-control form-control-lg" />
                          <label class="form-label" for="form2Example17">user name</label>
                        </div>
      
                        <div class="form-outline mb-6">
                          <input type="email" name="email" id="form2Example27" class="form-control form-control-lg" />
                          <label class="form-label" for="form2Example27">Email address</label>
                        </div>
      
                        <div class="form-outline mb-6">
                          <input type="text" maxlength="13" name="phone"  id="cellPhone" class="form-control form-control-lg" />
                          <label class="form-label" for="cellPhone" >phone number</label>
                        </div>
      
                        <div class="form-outline mb-6">
                          <input type="password" name="password" id="form2Example27"  class="form-control form-control-lg" />
                          <label class="form-label" for="form2Example27">Password</label>
                        </div>
      
                        <div class="pt-1 mb-4">
                          <button class="btn btn-primary btn-lg btn-block" type="submit">register</button>
                        </div>
      
                        <!-- <p class="mb-5 pb-lg-2" style="color: #393f81;"><a href="/login"
                            style="color: #393f81;">login here</a></p>
                        <a href="#!" class="small text-muted">Terms of use.</a>
                        <a href="#!" class="small text-muted">Privacy policy</a> -->
                        {% if message == "None" %}
                        <span style="color: red">유저가 존재하지 않습니다.</span>
                        {% endif %}

                      </form>

</body>
</html>